*{
  margin: 0;
}

header{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.wrapper{
  display: flex;
}
.editable-info{
  margin: 1px;
}

.display-info{
  margin: 1px;
  height: 100vh;
  flex: 1;
}

.display-info{
    display: grid;
    grid-auto-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
}